<header id="admin">
    <nav>Bienvenido Admin: </nav>
</header>
<ul id="navegacionAdmin">
    <li><a routerLink="/principal-admin"><img src="../../assets/imagen/home.png"></a></li>
    <li class="adminclick">Empleado</li>
    <ul class="drpdwn">
        <li><a routerLink="/crear-empleado">Agregar nuevo empleado</a></li>
        <li><a routerLink="/consulta-empleado">Consultar empleado</a></li>
    </ul>
    <li> </li> 
    <!--elemento insumo-->
    
    <li class="adminclick">Insumo</li>
    <ul class="drpdwn">
        <li><a routerLink="/crear-insumo">Registrar nuevo</a></li>
        <li><a routerLink="/consulta-insumo">Consultar insumo</a></li>
    </ul>
    <li class="adminclick">Servicio</li>
    <ul  class="drpdwn">
        <li><a routerLink="/crear-servicio">Registrar nuevo</a></li>
        <li>Consultar servicio</li>
    </ul>
    <li class="adminclick"><a>Reservacion</a></li>
    
</ul>




