<header id="admin">
    <nav>Bienvenido Admin: <button (click)="HastaLaVista()" class="Logout">Salir</button> </nav>
</header>
<ul id="navegacionAdmin">
    <li><a routerLink="/principal-admin"><img src="../../assets/imagen/home.png"></a></li>
    <li class="adminclick">Empleado</li>
    <ul class="drpdwn">
        <li><a routerLink="/crear-empleado">Agregar empleado</a></li>
        <li><a routerLink="/consulta-empleado">Consultar empleado</a></li>
    </ul>
    <li> </li> 
    <!--elemento insumo-->
    
    <li class="adminclick">Insumo</li>
    <ul class="drpdwn">
        <li><a routerLink="/crear-insumo">Registrar insumo</a></li>
        <li><a routerLink="/consulta-insumo">Consultar insumo</a></li>
    </ul>
    <li class="adminclick">Servicio</li>
    <ul  class="drpdwn">
        <li><a routerLink="/crear-servicio">Registrar servicio</a></li>
        <li><a routerLink="/consulta-servicio">Consultar servicio</a></li>
    </ul>
    <li class="adminclick">Horario</li>
    <ul  class="drpdwn">
        <li><a routerLink="/crear-horario">Registrar horario</a></li>
        <li><a routerLink="/consulta-horariosadmin">Consultar horario</a> </li>
    </ul>
    <li class="adminclick">Reservacion</li>
    <ul class="drpdwn">
        <li><a routerLink="/mostrar-detallereservas">Consultar reservacion</a></li>
    </ul>
    <li class="adminclick">Mantenimiento</li>
    <ul  class="drpdwn">
        <li><a routerLink="/mantenimiento-cliente">Cliente</a></li>
        <li><a routerLink="/mantenimiento-empleado">Empleado</a></li>
    </ul>
</ul>




