<!-- <p>mostrarreservaadmin works!</p> -->

<!-- <div class="paleta">
    <div class="contenedorSimple">
        <div class="tituloyAdicionalSimple">
            <h2> Horarios Activos</h2>
            <button class="btnregreso" (click)="volver()"><span class="elChuache"></span></button> 
        </div>

    </div>
</div> -->

<app-cab-admin></app-cab-admin>
<div class="contenedor">
    <h2> Detalle de reservaciones</h2>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- cliente Column -->
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Cliente</strong> </th>
            <td mat-cell *matCellDef="let row"> {{row.apellido}}  </td>
          </ng-container>

          <ng-container matColumnDef="empleado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Empleado</strong> </th>
            <td mat-cell *matCellDef="let row"> {{row.empleado}}  </td>
          </ng-container>
      
          <!-- fecha a realizar servicio Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Fecha </strong></th>
            <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
          </ng-container>
      
          <!-- hora Column -->
          <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Hora </strong>  </th>
            <td mat-cell *matCellDef="let row"> {{row.hora}}:00 </td>
          </ng-container>
      
          <!-- servicio Column -->
          <ng-container matColumnDef="servicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Servicio</strong> </th>
            <td mat-cell *matCellDef="let row"> {{row.servicio}}</td>
          </ng-container>

          <ng-container matColumnDef="horafin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Hora salida</strong> </th>
            <td mat-cell *matCellDef="let row"> {{row.hora_fin}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Estado</strong> </th>
            <td mat-cell *matCellDef="let row"> <span *ngIf="row.estado==1">Proceso</span> <span *ngIf="row.estado==0">Completo</span></td>
          </ng-container> -->

          <!-- <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Estado</strong> </th>
            <td mat-cell *matCellDef="let row">  <select  (change)="VamoPerrucho($event)" 
              name="empleadoSeleccion" id="empleadoHorario"
              #estadoReserva="ngModel" [(ngModel)]="estado.nombre">
                  <option *ngFor="let empleado of estadosR;let i=index" 
                  [ngValue]="empleado.id"
                  >{{i+1}} - {{empleado.nombre}}</option>
              </select> </td>
          </ng-container>  opcion eliminada:
            (change)="VamoPerrucho($event)" 
              name="empleadoSeleccion" id="empleadoHorario"
              #estadoReserva="ngModel" [(ngModel)]="estado.nombre"
        -->

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Estado</strong> </th>
            <td mat-cell *matCellDef="let row">  <select >
                  <option *ngFor="let empleado of estadosR;let i=index"
                  >{{i+1}} - {{empleado.nombre}}</option>
              </select> </td>
          </ng-container>
          
          <!-- Stock Ideal Column -->
          <ng-container matColumnDef="Edicion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Edicion</strong></th>
            <td mat-cell *matCellDef="let row">  <button><span class="cancelarReserva"></span></button> </td>
          </ng-container> 
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr> -->
        </table>
    </div>
</div>
