
/* Estilos Globales*/

/*IMPORTS*/
@import '@angular/cdk/overlay-prebuilt.css';
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap'); */

@font-face {
    font-family: Robot;
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}
@font-face {
    font-family: RobotalicMed;
    src: url(../fonts/Roboto-MediumItalic.ttf) format('truetype');
}
@font-face {
    font-family: Robotmonothintalic;
    src: url(../fonts/RobotoMono-ThinItalic.ttf) format('truetype');
}
@font-face {
    font-family: Robotmonolightitalic;
    src: url(../fonts/RobotoMono-LightItalic.ttf) format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.clearfix{
    float: none;
    clear: both;
}

/*BARRAS DE NAVEGACION*/
/*Barra de admin*/
 #admin{
    font-size: 45px;
    width: 100%;
    height: 60px;
    background:rgba(24, 127, 161,1);
    color:rgba(159, 205, 123, 0.8);
    z-index: 50;
    position: fixed;
    text-transform: uppercase;
    transition: all 500ms;
}
#admin nav{
    font: 200;
    font-size: 40px;
    padding: 15px;
}
#empleado{
    font-size: 45px;
    width: 100%;
    height: 60px;
    background:rgba(136, 176, 106,1);
    color:rgba(46, 130, 153, 0.8);
    z-index: 50;
    position: fixed;
    text-transform: uppercase;
    transition: all 500ms;
}
#empleado nav{
    font:200;
    font-size: 39px;
    padding: 15px;
}
.navempleado{
    display: flex;
    width: 100%;
}
.navempleado button{
    align-items: flex-end;
    margin-left: 15%;
}

#cliente{
    font-size: 45px;
    width: 100%;
    height: 60px;
    background:rgba(136, 176, 106,1);
    color:rgba(230, 232, 228, 0.8);
    z-index: 50;
    position: fixed;
    justify-content: space-between;
    text-transform: uppercase;
    transition: all 500ms;
}
#cliente nav{
    font: 200;
    font-size: 37px;
    padding: 14px;
}
.navcliente{
    display: flex;
    width: 100%;
}
.navcliente button{
    align-items: flex-end;
    margin-left: 5%;
}
#btnConsultaReserva{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    overflow: hidden;
    border-radius: 20px 100px;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    background-color: #0f6f46;
}
#btnConsultaReserva:hover{
    color:rgb(255, 255, 255);
    background: rgb(24, 170, 107);
    box-shadow:
    0 0 20px rgb(34, 225, 222), 0 0 80px rgb(34, 225, 222),
    0 0 160px rgb(34, 225, 222), 0 0 320px rgb(34, 225, 222);
}
#admin:hover{
    background: rgba(211, 237, 191, 0.8);
    
}

/*Menu plegable admin*/
#navegacionAdmin{
    list-style-type: none;
    margin-top: 60px;
    padding: 0px;
    width: 18%;
    background-color:rgba(24, 127, 161,1);
    position:fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
}
#navegacionAdmin li a{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}
#navegacionAdmin li a:hover{
    background-color: #32a852;
    color: wheat;
}
.adminclick{
    color: #ccc;
}
.drpdwn li{
    background: rgb(189, 206, 239);
    border-bottom: 1px solid rgba(0,0,0, .2);
}

/*cabecera pantalla principal*/
#pantallaPrincipal{
    font-size: 20px;
    color: #ccc;
    height: 40px;
    justify-content: space-between;
    padding: 20px 65px;
    box-shadow: 0 0 5px #b0cece;
    position: fixed;
    z-index: 50;
    align-items: center;
    background: #0e6994;
    top: 0;
    width: 100%;
}

#pantallaPrincipal a{
    padding-left: 25px;
    color: #88B06A;
    text-decoration: none;
}

/*Adicion de iconos*/
.ubicacion{
    background: url(../imagen/icons/Location.png) no-repeat;
    background-size: 32px 32px;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.reserva{
    background: url(../imagen/icons/reservar.png) no-repeat;
    background-size: 32px 32px;
    display: inline-block;
    height: 32px;
    width: 32px;
}
.editaempleado{
    background: url(../imagen/icons/editar.png) no-repeat;
    background-size:  32px 32px;
    display: inline-block;
    height: 32px;
    width: 32px;
    min-width: auto;
}
.eliminaempleado{
    background: url(../imagen/icons/eliminar.png) no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 2px;
    padding-left: 2px;
}
.lasttd{
    margin-left: 10px;
}

/*SECCION CONTENIDOS*/
/* body contenedor*/
.contenedor{
    margin-top: 80px;
    margin-left: 21%;
    margin-right: 5px;
    padding: 1px 16px;
    min-width: 60%;
    width: auto;
    overflow: auto;
    position: absolute;
}
.contenedor2{
    margin-top: 90px;
    margin-right: 5px;
    padding: 1px 16px;
    width: 91%;
    text-align: center;
    justify-content: center;
}
.contenedorCli{
    margin-top: 80px;
    margin-right: 5px;
    padding: 1px 16px;
    min-width: 60%;
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    overflow: auto;
    position: absolute;
}

.contenedorEmp{
    margin-top: 60px;
    width: 100%;
    height: 91vh;
    overflow: auto;
    position: absolute;
    background-color: #7faca2;
}

/*Seccion Formularios*/

form label{
    display: block;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 1px;
    font-size: 13px;
}
form input[type="text"],
form input[type="email"]
{
    width: 30%;
    padding: 4px;
}

form button,
form input[type="submit"]{
    display: block;
    font-size: 15px;
    padding: 5px;
    margin-top: 15px;
    color: white;
    background: #88B06A;
    cursor:pointer;
}

form button:hover,
form input[type="submit"]:hover{
    background: #2e5d0a;
    
}

form input[disabled],
form button[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}

/* Seccion pro can*/
:root{
    --bg-color: #044903;
    --primary-color: #81c6ff;
    --secondary-color: #9dc0df;
}
/*botones pro can login*/
    /*contenedor pro can*/
.buddy{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    margin-left: 30%;
    width: 40%;
    min-height: 300px;
    background:  rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px soli rgba(255, 255, 255, 0.3);
}

.buddy span{
    display: block;
    color: rgba(164, 85, 15, 0.85);
}
.buddy input[type="email"],input[type="password"]{
    min-width: 30px;
    width: 125px;
    height: 25px;
    padding: 5px;
}
.principallogin{
    padding-top: 5%;
    background: var(--bg-color);
    background-image: linear-gradient(to bottom right, rgba(17,237,200, 0.88),rgb(2325, 236, 199));
    min-height: 100vh;
    text-align: center;
}
.principallogin h2{
    color: white;
    text-shadow: 1px 1px 2px black,
    0 0 25px blue, 0 0 5px darkblue;
}
.PCbtn{
    position: relative;
    display: block;
    padding: 15px 30px;
    color: var(--primary-color);
    background-color: #172f05;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 30px;
    overflow: hidden;
    transition: 0.2s;
}
.PCbtn:hover{
    color:white;
    background: var(--primary-color);
    box-shadow:
    0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
    0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
}
.PCbtn span{
    position: absolute;
    display: block;
}
.PCbtn span:nth-child(1){
    top: 0;
    transform: translateX(-115%);
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, var(--primary-color));
}

.PCbtn:hover span:nth-child(1){
    transform: translateX(100%);
    transition: 1s;
}
.PCbtn span:nth-child(3){
    bottom: 0;
    transform: translateX(100%);
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, var(--primary-color));
}

.PCbtn:hover span:nth-child(3){
    transform: translateX(-115%);
    transition: 1s 0.5s;
}
.PCbtn span:nth-child(2){
    right:  0;
    transform: translateY(-130%);
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--primary-color));
}

.PCbtn:hover span:nth-child(2){
    transform: translateY(100%);
    transition: 1s 0.25s;
}

.PCbtn span:nth-child(4){
    left:   0;
    transform: translateY(100%);
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--primary-color));
}
.PCbtn:hover span:nth-child(4){
    transform: translateY(-130%);
    transition: 1s 0.75s;
}
/* seccion errores*/

.empleadoformErr{
    color: #ce852c;
    font-weight: 400;
    padding: 5px;
    margin-left: 5px;
}

/*PAGINAS DE CONSULTA*/
/*Tablas de datos*/
.empleadoTabla th{
    font-size: 25px;
    min-width: 30px;
    width: 35px;
    padding: 10px;
}
.empleadoTabla td{
    border-bottom: 2px solid #ccc;
}

.nombres{
    width: 35px;
    padding: 5px;
}
.centrar{
    text-align: center;
}
.limite{
    width: 25px;
    padding: 4px;
}
.borderless{
    border-bottom: none !important;
}

/*PAGINA PRINCIPAL*/

/*Carousel*/
.carousel{
    width: 100%;
    margin: 0px 60px;
}
.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float:left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .65;
}

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: relative;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border:0;
    cursor: pointer;
}

.slick-arrow:focus{
    outline: 0;
}

.slick-nxt-span{
    background: url(../imagen/icons/nxt.png) no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    right: 0px;
}

.slick-prev-span{
    background: url(../imagen/icons/prev.png) no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    left: 0px;
}

.prev, .next {
    cursor: pointer;
    
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /*PAGINAL PRINCIPAL CLIENTE/SERVICIOS*/

  /*Servicios mostrados por pantalla*/
  .tarjeton{
    margin: 10px;
    margin-bottom: 50px;
    display: flex;
    
    align-items: center;

    width: 30%;
    max-width: 31%;
    height: 275px;
    background: #d3ddc6;
    box-shadow: 0 15px 45px rgba(0, 0, 0,0.25);
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  .tarjeton:hover{
    width: 300px;
  }

  .tarjeton:hover .imgBox{
    transform: rotate(-35deg);
  }

  .tarjeton:hover .imgBox img{
    width: 80%;
  }

  .tarjeton .tarjetonBuddy{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 5px;
  }

  .tarjeton .tarjetonBuddy::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
  }

  .tarjetonOpciones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 10px;
    text-align: center;
  }
 
  .tarjeton .imgBox{
    position: relative;
    min-width: 35%;
    width: 300px;
    height: 100%;
    
   
    transition: 0.5s;
  }
  .imgBox img{
    width: 80%;
  }
  /*PAGINA DE REGISTRO DE NUEVO USUARIO*/
  /*FORM PARA NUEVO USUARIO*/
  .tituloregistro{
    padding-top: 10px;
    text-align: center;
  }
  .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    margin-left: 30%;
    width: 40%;
    min-height: 300px;
    background:  rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px soli rgba(255, 255, 255, 0.3);
  }

  .signup input[type="email"],input[type="text"]{
    width: 150px !important;
  }

  .signup span{
    display: block;
    color: rgba(164, 85, 15, 0.85);
}

/*PAGINA EMPLEADO ENTRADA Y COMPONENTE DE CONSULTA Y EDICION*/
/*ENTRADA EMPLEADO*/

.reservaEmpleadoComp{
    background: url(../imagen/largerIcons/reservas.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 69px;
    width: 69px;
    display: inline-block;
    cursor: pointer;
}
.horariopEmpleadoComp{
    background: url(../imagen/largerIcons/calendar.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 69px;
    width: 69px;
    display: inline-block;
    cursor: pointer;
}
#franjaEmpleado{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.sigCita{
    display: flex;
    justify-content: left;
    align-items:center;
    background: var(--bg-color);
    margin-left: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    min-height: 200px;
    background:  rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px soli rgba(255, 255, 255, 0.3);
    padding: 2%;
}
.granP{
    min-width: 50px;
    width: 200px;
    font-family: Robotmonothintalic;
    font-weight: 900;
}
.cardCita{
    border-left: solid 1px #ccc;
    padding-left: 5%;
}
.cabsimple{
    padding: 25px;
    margin-left: 2%;
    font-size: 19px;
    font-family: Robotmonolightitalic;
}

/*MOSTRAR RESERVACIONES PARA EMPLEADO*/
.cancelarReserva{
    background: url(../imagen/icons/cancelar.png) no-repeat;
    height: 32px;
    width: 32px;
    display: inline-block;
}
.elChuache{
    background: url(../imagen/largerIcons/regreso.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 79px;
    width: 79px;
    cursor: pointer;
    display: inline-block;
}
.contenedorSimple{
    width: 90%;
    background-color: #E0EEEF;
    height: 100%;
}
.tituloyAdicionalSimple{
    margin: 5px;
    display: flex;
    align-items: center;
    height: 91px;
}
.tituloyAdicionalSimple h2{
    width: 400px;
    max-width: 450px;
    margin-left: 10px;
    font-size: 25px;
} 
.paleta{
    display: flex;
    justify-content: center;
    background-color: #C6D8E2;
    min-height: 100vh;
    height: fit-content;
    margin: 0;
}
.btnregreso{
    background-color: #E0EEEF;
    border: none;
}
.Logout{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
    overflow: hidden;
    border-radius: 20px 100px;
    transition: 0.2s;
    padding-left: 11px;
    padding-right: 11px;
    color: #ffffff;
    background-color: #0f6f46;
}
.Logout:hover{
    color:rgb(248, 11, 11);
    background: rgb(64, 231, 112);
    box-shadow:
    0 0 20px rgb(194, 113, 9), 0 0 80px rgb(194, 113, 9),
    0 0 160px rgb(194, 113, 9), 0 0 320px rgb(194, 113, 9);
}

.btnSaitama{
    
    font-size: 15px;
    padding: 5px;
    margin-top: 15px;
    color: white;
    background: #88B06A;
    cursor:pointer;
}
.btnSaitamaplus{
    
    font-size: 15px;
    padding: 5px;
    margin-top: 15px;
    color: white;
    background: #88B06A;
    cursor:pointer;
    letter-spacing: 2px;
    border-radius: 5px;
}

.subCabecera{
    padding: 10px;
}

.contenedorinfo{
    margin-left: 10%;
    height: fit-content;
    margin-bottom: 40px;
}

.reservaConfirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    margin-left: 30%;
    width: 40%;
    min-height: 300px;
    background:  rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px soli rgba(255, 255, 255, 0.3);
  }

  .Atlas{
    background-image: linear-gradient(to bottom right, rgba(47,128,237, 0.88),rgb(247, 100, 186));
    min-height: 100vh;
  }

  .elegidosEmp{
    margin-left: 45px;
  }

  .perfilCli{
    border-radius: 100px;
    letter-spacing: 1px;
  }
  .clientewelcome{
    font-size: 30px;
  }
  .perfilCli:hover{
    cursor: pointer;
  }
  .adendoReserva{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .koopa{
    font-weight: 500;
    color: #fff;
  }
  .paginaMagica{
    margin-top: 2%;
    font-size: 25px;
    width: 70%;
  }
  .AdendoMagico{
    font-size: 15px;
    color: #b47a16;
  } 
  .AdendoMagico p{
    padding-top: 7px;
  }
  .libroMagico{
    display: flex;
  }
  .paginaNomagica{
    width: 58%;
  }