<!-- <p>perfilcliente works!</p> -->
<div class="paleta">
    <div class="contenedorSimple">
        <div class="tituloyAdicionalSimple">
            <h2>Administracion de Perfil</h2>
            <button class="btnregreso" (click)="volver()"><span class="elChuache"></span></button> 
        </div>
        <p><button class="btnSaitamaplus">Cambiar datos Personales</button>
        </p>
        <p>
            <button class="btnSaitamaplus">Cambiar foto</button>
        </p>
        <p>
            <button class="btnSaitamaplus">Cambiar contraseña</button>
        </p>
    </div>
</div>
