<div>
  
  <!--h2 style="color:#88B06A ;font-size: 22px;font-family: Raleway,sans-serif;">Carolina Aguirre Master en Colorimetria Organica</h2>
  <h1>Pruebas con Frontend -Angular</h1>
  <h2 style="color:#88B06A ;font-size: 22px;font-family: Raleway,sans-serif;">Carolina Aguirre Master en Colorimetria Organica</h2>
  <h2> Pantalla de confirmacion de inicio (temporal)</h2>
  <p> Sub sistema de registro de usuarios (clientes) e inicio de sesion
    para todos los usuarios(empleados,admin,etc).
  </p>
  <registro></registro>
  <a [routerLink]="['/registro']" [routerLinkActive]="['active']"> Registro</a> &nbsp;
  <a [routerLink]="['/']" [routerLinkActive]="['active']"> Inicio de sesion</a> &nbsp;-->
  <router-outlet></router-outlet>
</div>