<!-- <p>hombres trabajando!</p> -->

<div class="paleta">
    <div class="contenedorSimple">
        <div class="tituloyAdicionalSimple">
            <h2> Servicio a reservar:</h2>
            <button class="btnregreso" (click)="volver()"><span class="elChuache"></span></button>
        </div>

        <div class="subCabecera">
            <p>
                <label for="fecha">Elija el dia que desea reservar el servicio : <strong>{{extras.nombre}}</strong> </label>
            </p>
            <p>
                <input name="fecha" type="date" [(ngModel)]="fechacomparar" (ngModelChange)="fechas()"/>
            </p>
            <h2> Cuadro de Horas Disponibles</h2>
        </div>


<div class="contenedorinfo">
    <div *ngIf="logico">
        <p>{{horarios.hora_inicio}}</p>
        <!-- Hoy se sale! -->
        <table>
            <body>
                <tr *ngFor="let hora of elegido">
                    <th>
                        {{hora+':00'}}
                    </th>
                    <td (click)="elejirHora(hora)"
                        [ngClass]="status ? 'elegido':'nada'"
                        id="a{{hora}}"><span></span></td>
                </tr>
            </body>
        </table>
        
        <div class="controlesreservar">
            <button class="btnreservar" (click)="confirmarReserva()">Reservar</button>
        </div>
         
    </div>
    <span class="info">info</span>
    
</div>
    </div>
</div>

<!-- <p>{{horarios.empleado_id}}</p> -->
<!-- <p>End of the line</p> -->

