<!-- <p>hombres trabajando!</p> -->

<div class="paleta">
    <div class="contenedorSimple">
        <div class="tituloyAdicionalSimple">
            <h2> Servicio a reservar:</h2>
            <button class="btnregreso" (click)="volver()"><span class="elChuache"></span></button>
        </div>

        <div class="subCabecera">
            <p>
                <label for="fecha">Elija el dia que desea reservar el servicio : <strong>{{extras.nombre}}</strong> </label>
            </p>
            <p>
                <input name="fecha" type="date" [(ngModel)]="fechacomparar" (ngModelChange)="fechas()"/>
            </p>
            <h2> Cuadro de Horas Disponibles</h2>
        </div>

        <div class="malafecha" *ngIf="ultimostatusIpromise==2">
            <p><span class="errFecha" >Por favor, eliga una fecha que no sea antes de hoy <strong>({{fechahoy}})</strong></span></p>
        </div>
    <div class="contenedorinfo" *ngIf="ultimostatusIpromise==1">
        <!-- <div *ngIf="logico">
            <p>{{horarios.hora_inicio}}</p>
                Hoy se sale! 
            <table>
                <body>
                    <tr *ngFor="let hora of elegido">
                        <th>
                            {{hora+':00'}}
                        </th>
                        <td (click)="elejirHora(hora)"
                            [ngClass]="status ? 'elegido':'nada'"
                            id="a{{hora}}"><span></span></td>
                    </tr>
                </body>
            </table>
            
            <div class="controlesreservar">
                <button class="btnreservar" (click)="confirmarReserva()">Reservar</button>
            </div>
            
        </div> -->
            <!-- <span class="info">info</span> -->
        <div class="elegidosEmp" *ngIf="logico">
            <h2>Empleados Disponibles</h2>
            <table>
                <body>
                    <tr *ngFor="let expendable of empleados">
                        <th>
                            {{expendable.apellido}} {{expendable.empnombre}}
                        </th>
                        <!-- <td (click)="elejirHora(hora)"
                            [ngClass]="status ? 'elegido':'nada'"
                            id="a{{hora}}"><span></span></td> -->
                        <td (click)="elejirEmp(expendable)">
                            Elegir empleado
                        </td>
                    </tr>
                </body>
            </table>
        </div>
    <div *ngIf="thor" class="mjiolnir">
        <h2> Horas disponibles</h2>
        <table>
            <body id="tableh">
                <tr *ngFor="let disp of arregloHorasDisp">
                    <th>
                        {{disp+":00"}}
                    </th>
                    <!-- <td (click)="elejirHora(hora)"
                        [ngClass]="status ? 'elegido':'nada'"
                        id="a{{hora}}"><span></span></td>
                    <td (click)="procedeReserva(disp)" id="{{disp}}"> -->
                    <td (click)="procedeReserva(disp)" 
                        [ngClass]="status ? 'elegido:disabled':'nada'" 
                        class="lostds"  id="{{disp}}">
                        <!-- <button id="{{disp}}" class="btntd" (click)="procedeReserva(disp)" ></button> -->
                        <!-- Elegir empleado -->
                    </td>
                </tr>
            </body>
        </table>
    </div>
    <div *ngIf="rambo" class="rocky">
        <button class="btnreservar" (click)="confirmarReserva()">Reservar</button>
        <button class="btnreservar" (click)="cancelarReserva()">Cancelar</button>
    </div>
    
</div>
    </div>
</div>

<!-- <p>{{horarios.empleado_id}}</p> -->
<!-- <p>End of the line</p> -->

