<app-cab-admin></app-cab-admin>
<div class="contenedor">
    <h2>Servicios</h2>
    <div>
        <select (change)="onTableSizeChange($event)">
            <option *ngFor="let size of tableSizes">
                {{size}}
            </option>
        </select>
    </div>
    <table class="empleadoTabla" #empleadoTable>
        <thead>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Hora
            </th>
            <th>
                Precio
            </th>
            <!-- <th>
                Rol
            </th> -->
        </thead>
        <tbody>
            <tr *ngFor="let servicio of servicios | paginate: {itemsPerPage: tableSize,
                    currentPage: page, totalItems: count}; let i = index">
                <td class="nombres">{{servicio.nombre}}</td><td class="nombres">{{servicio.descripcion}}</td>
                <td class="correo">{{servicio.hora}}</td><td class="centrar">{{servicio.precio}}</td>
                <!-- <td class="limite" *ngIf="empleado.rol==1">Empleado</td><td *ngIf="empleado.rol==7"> Administrador</td> -->
                <td class="borderless"><button ><span class="editaempleado" ></span></button></td>
                <!-- <td class="borderless"><button class="lasttd" (click)="openDialogX('elimina',empleado)"><span class="eliminaempleado"></span></button></td> -->
            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls
            previousLabel="Anterior"
            nextLabel="Siguiente"
            (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>
