<header id="admin">
    <nav>Bienvenido Admin: </nav>
</header>
<ul id="navegacionAdmin">
    <li><a routerLink="/principal-admin"><img src="../../assets/imagen/home.png"></a></li>
    <li><a routerLink="/crear-empleado">Empleado</a></li>
    <ul>
        <li>Agregar nuevo empleado</li>
        <li><a routerLink="/consulta-empleado">Consultar empleado</a></li>
    </ul>
    <li> </li> 
    <!--elemento insumo-->
    
    <li><a routerLink="/crear-insumo">Insumo</a></li>
    <ul>
        <li>Registrar nuevo</li>
        <li><a routerLink="/consulta-insumo">Consultar insumo</a></li>
    </ul>
    <li><a routerLink="/crear-servicio">Servicio</a></li>
    <ul>
        <li>Registrar nuevo</li>
        <li>Consultar servicio</li>
    </ul>
    <li><a>Reservacion</a></li>
    
</ul>




