/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
}

/*Seccion Registro empleados*/
.container{
    padding: 50px;
    padding-top: 25px;

}
.container h2{
    display: block;
    border-bottom: 1px solid #88B06A;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form{
    width: 50%;
}

form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="email"]
{
    width: 40%;
    padding: 5px;
}

form button,
form input[type="submit"]{
    display: block;
    font-size: 18px;
    padding: 5px;
    margin-top: 15px;
    color: white;
    background: #88B06A;
    border: 1px solid rgba($color: #55783a, $alpha: 0.5);
    cursor:pointer;
}

form button:hover,
form input[type="submit"]:hover{
    background: #2e5d0a;
    border: 1px solid rgba($color: #55783a, $alpha: 0.5);
    
}

form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}

/* seccion errores*/

.empleadoformErr{
    padding: 5px;
    margin-left: 5px;
}