<app-comp-principal-empleado></app-comp-principal-empleado>

<div class="contenedor">
    <h2>Registro de Insumo</h2>
   
    <form #insumoForm="ngForm" (ngSubmit)="onSubmit(insumoForm)">
        <p>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre"
            required/>
            
        </p>
        <p>
            <label for="descripcion">Descripcion</label>
            <input type="text" name="descripcion" 
            required/>
            
        </p>
        <p>
            <label for="costo">Costo</label>
            <input type="text" name="costo" 
            required/>
           
        </p>
        <p>
            <label for="stock">Stock</label>
            <input type="text" name="stock" 
            required/>
            
        </p>
        <p>
            <label for="stockideal">Stock_ideal</label>
            <input type="text" name="stockideal" />
            
        </p>
        
        <input type="submit" value="Guardar" [disabled]="!insumoForm.form.valid" />
    </form>
</div>
