<app-cab-cliente></app-cab-cliente>
<div class="contenedorCli">
    <div *ngFor="let servicio of servicios" class="tarjeton">
        <!-- <p>soy un servicio dame click uwu!</p> -->
        <div class="imgBox">
            <img src="./assets/imagen/tarjetas/logoCorteCabello2.png" alt="servicio">
        </div>
        <div class="tarjetonBuddy">
            <div class="nombre">
                <p>{{servicio.nombre}}</p>
            </div>
            <div class="descripbuddy">
                <p><strong>Descripcion: </strong>{{servicio.descripcion}}</p>
            </div>
            
            <p ><strong>Valor: $ </strong><span style="font-size: 10px;">{{servicio.precio}}</span></p>
            <div class="tarjetonOpciones">
                <button class="btnSaitama" (click)="reservar(servicio)"> Reservar </button>
            </div>
        </div>
        
    </div>
</div>